@import "tailwindcss";
@keyframes progress {
  from { width: 0%; }
  to { width: 100%; }
}

.animate-progress {
  animation: progress linear forwards;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;  /* For Firefox */
  }
}

/* index.css */

.ringstyle {
  box-sizing: border-box;
  border: 3px solid transparent; 
  padding: 2px; 
  background: 
    linear-gradient(#fff, #fff) padding-box, 
    linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5) border-box;
}




